*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    
}

.top-hero{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    width: 700px;
    height: 300px;
}

.top-hero--top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    
}